<!-- <div class="jumbotron">
 -->	<div class="field">
	<h1 class="text-center">Welcome to James Heat's Firebreathing Courses!</h1>
<div class="centered">
		<%= link_to 'Sign Up Now', courses_path, class: 'btn btn-primary btn-lg' %>
	</div>
</div>
<!-- </div> -->